%p.lead
  Strap is a script to bootstrap a minimal macOS development system.
  This does not assume you're doing Ruby/Rails/web development but installs the
  minimal set of software every macOS developer will want.
%h2 To Strap Your System:
%ol
  - if @strap_before_install
    %li= @strap_before_install
  - if @authorized
    %li You authorized Strap on Github ✅
    %li
      %a.btn.btn-outline-primary.btn-sm{href: "/strap.sh"}
        Download the
        %code strap.sh
        script
      that's been customized for your GitHub user (or&#32;
      %a{href: "/strap.sh?text=1"}> view it in your browser
      ).
  - else
    %li
      %form{action: "/auth/github", method: "post"}
        %input{name: "authenticity_token", type: "hidden", value: @csrf_token}
        %button.btn.btn-outline-primary.btn-sm{type: "submit"}
          Authorize Strap on GitHub
        which will prompt for access to your email, public and private
        repositories; you'll need to provide access to any organizations whose
        repositories you need to be able to&#32;
        %code> git clone
        \. This is used to add a GitHub access token to the
        %code strap.sh
        script and is not otherwise used by this web application or stored anywhere.
    %li
      Download the
      %code strap.sh
      script that's been customized for your GitHub user (or&#32;
      %a{href: "/strap.sh?text=1"}> view the uncustomised version in your browser
      ).
  %li
    Run Strap in Terminal.app with&#32;
    %code> bash ~/Downloads/strap.sh
    \.
  %li
    If something failed, run Strap with more debugging output in Terminal.app with
    %code bash ~/Downloads/strap.sh --debug
    and
    - if @strap_issues_url
      file an issue at
      %a{href: "#{@strap_issues_url}"}= @strap_issues_url
    - else
      try to debug it yourself.
  %li
    Delete the customised
    %code strap.sh
    (it has a GitHub token in it) in Terminal.app with
    %code rm -f ~/Downloads/strap.sh
  %li
    Install additional software with&#32;
    %code> brew install
    \.
