<nav class="navbar bg-dark text-light text-center" style="justify-content: center;">
  <span>
    &copy;<%= Time.now.year %> <a class="text-light" href="https://www.umass.edu/">University of Massachusetts Amherst</a> •
    <a class="text-light" href="https://www.umass.edu/site-policies">Site Policies</a> •
    <a class="text-light" href="mailto:transit-it@admin.umass.edu">Site Contact</a>
  </span>
</nav>
