<style>
  #uma-topbar {
    background: #881c1c;
    padding: 8px 68px;
  }

  #umass-logo {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(//umass.edu/identity/umass_banner/wordmark.svg) no-repeat;
    background-size: contain;
    height: 1.5em;
    flex-grow: 1;
  }

  #links-text::after {
    font-size: 2rem;
    content: " \2304";
  }

  #links-text:hover {
    text-decoration: none;
  }

  #links-text.on::after {
    content: " \2303";
  }

  #search-umass input[type=submit] {
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    background: url(//umass.edu/identity/umass_banner/search.svg) no-repeat;
    background-size: contain;
    height: 1.75em;
    width: 1.75em;
    box-shadow: none;
    border: 0;
  }

  #uma-linksbar {
    text-align: right;
    height: 0;
    transition: height 0.5s;
  }

  #uma-linksbar.on {
    height: 2.5em;
  }

  #uma-linksbar a {
    display: inline-block;
    padding: .5em 1em;
  }
</style>
<script>
  function toggleLinks(){
    document.getElementById('links-text').classList.toggle('on');
    document.getElementById('uma-linksbar').classList.toggle('on');
    return false;
  }
</script>
<nav id="uma-topbar" class="navbar text-light">
  <a class="navbar-brand" id="umass-logo" href="https://www.umass.edu/">UMass Amherst</a>
  <a href="#" id="links-text" class="text-white" onclick="toggleLinks();">Links</a>
  <form class="form-inline" id="search-umass" action="https://googlebox.oit.umass.edu/search" method="get">
    <h2 class="sr-only">Search Google Appliance</h2>
    <label class="sr-only" for="edit-search-keys">Enter the terms you wish to search for.</label>
    <input id="edit-search-keys" placeholder="Search UMass" name="q" size="15" maxlength="256" value="" type="text">
    <input name="btnG" value="Google Search" type="submit">
    <input name="site" value="default_collection" type="hidden">
    <input name="client" value="default_frontend" type="hidden">
    <input name="output" value="xml_no_dtd" type="hidden">
    <input name="proxystylesheet" value="default_frontend" type="hidden">
  </form>
</nav>
<nav id="uma-linksbar" class="bg-dark">
  <a class="text-light" href="https://go.umass.edu/">Go.UMass</a>
  <a class="text-light" href="http://www.oit.umass.edu/email">Email</a>
  <a class="text-light" href="https://www.spire.umass.edu/">SPIRE</a>
  <a class="text-light" href="https://moodle.umass.edu/">Moodle</a>
  <a class="text-light" href="http://uma.umassonline.net/">Blackboard Learn</a>
  <a class="text-light" href="https://www.umass.edu/it/online-storage-collaboration">Online Storage</a>
  <a class="text-light" href="https://www.umass.edu/peoplefinder/">People Finder</a>
</nav>
