name: GitHub Actions CI

on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    shell: bash -xeuo pipefail {0}

permissions:
  contents: read

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up Ruby
        uses: ruby/setup-ruby@708024e6c902387ab41de36e1669e43b5ee7085e # v1.283.0
        with:
          bundler-cache: true

      - name: Set up Homebrew
        id: setup-homebrew
        uses: Homebrew/actions/setup-homebrew@main
        with:
          core: false
          cask: false
          test-bot: false

      - run: brew bundle

      - run: script/style
        env:
          # Used by zizmor
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  rspec:
    runs-on: ubuntu-latest
    needs: style
    steps:
      - name: Set up Git repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up Ruby
        uses: ruby/setup-ruby@708024e6c902387ab41de36e1669e43b5ee7085e # v1.283.0
        with:
          bundler-cache: true

      - name: Build Tailwind CSS
        run: bin/rails tailwindcss:build

      - name: Run RSpec tests
        run: bin/rspec

  strap_sh:
    runs-on: macos-15
    steps:
      - name: Set up Git repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Cleanup macOS
        run: sudo rm -rf /opt/homebrew /Applications/Xcode.app /Library/Developer/CommandLineTools

      - run: bin/strap.sh
        env:
          STRAP_CI: 1
          STRAP_DEBUG: 1

      - name: Rerun bin/strap.sh
        run: bin/strap.sh
        env:
          STRAP_CI: 1

      - run: brew config

      - run: brew doctor

      - name: Test various brew installations
        run: |
          brew install --build-from-source --formula libfaketime
          brew install --cask orka
          brew install --formula xz
