<%# locals: () %>
<footer class="fixed bottom-0 w-full">
<nav class="text-white p-2 flex justify-between items-center bg-zinc-600">
  <span class="text-xl font-semibold">👢</span>
  <span>
    Made with ❤️ by
    <%= strap_link_to "Mike McQuaid", "https://mikemcquaid.com", classes: "text-white hover:text-gray-200" %>
  </span>
</nav>
</footer>
